/**
 * default layout and general styles
 */
body {
    max-width: 960px;
    width: 87.5%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

pre {
    display: block;
    background-color: #fdf6e4;
    padding: 15px 10px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
    color: #586e74;
    border-radius: 5px;
    max-width: 100%;
    overflow: auto;
    border-color: #eee8d6;
}

.example {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}

.example:last-child {
    padding-bottom: 20px;
    border-bottom: none;
}

/**
 * list styles
 */
.social-icons-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.social-icons-list li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.social-icons-list li:last-child {
    margin-right: 0;
}

/**
 * big icons
 */
.big-icons .social-icon {
    width: 120px;
    height: 120px;
}

/**
 * small icons
 */
.small-icons .social-icon {
    width: 20px;
    height: 20px;
}

/**
 * square-ish icons
 */
.squre-icons .social-icon {
    border-radius: 8px;
}

/**
 * one color icons
 */
.one-color-icons .social-icon {
    background-color: #091c30;
}
